body {
    background-image: url("assets/Web\ Background.png");
    font-family: Arial;
}
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(235, 245, 231, 0.9);
    border-radius: 15px;
    text-align: center;
}
.box h1 {
    color: #645029;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: left;
    background: #FFFFFF;
    padding: 14px 20px;
    width: 200px;
    outline: none;
    color: #645029;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus {
    width: 230px;
    padding: 14px 30px;
}
.box input[type = "submit"] {
    border: 0;
    background: #c9bc8c;
    display: block;
    margin: 10px 10px 10px 160px;
    text-align: center;
    padding: 7px 15px;
    width: 100px;
    outline: none;
    color: #ffffff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover {
    background: #836936;
}